.form {
  min-height: 40%;
  max-height: 45%;
  min-width: 75%;
  max-width: 100%;

  background: white;
  position: relative;
  padding: 0 0 25.6px;
}

.content {
  min-height: 400;
  max-height: 100%;
  position: absolute;

  right: 0;
  bottom: 25px;
  left: 0;
  display: block;
  overflow-y: auto;
  background-color: white;
  padding: 15px;
}
